.back_add {
    float:left;
    margin-top:50px;
    margin-left: 100px;
    width:100%;
  }
  
  .divAdd-con img {
    border: none;
  }
  
  a:focus,
  a:hover {
    color: #23527c;
  }
   .Containt ul {
    margin: 0 auto;
    width: 2400px;
    position: absolute;
    left: 0px;
    cursor: pointer;
    height: 100%;
    list-style: none;
  }
  
   .Containt ul li {
    width: 300px;
    margin-right: 40px;
    margin-top: 10px;
    float: left;
  }
  
   .Containt ul li img {
    height: 128px;
    width: 100%;
  }
  
  .Containt {
    height: 158px;
    min-width: 1000px;
    position: relative;
    width: 1060px;
    height: 280px;
    overflow: hidden;
  }
  
  .iconleft {
    position: absolute;
    margin-left: 0px;
    margin-top:120px;
    background-color: #ddd;
  }
  
  .iconright {
    position: relative;
    margin-left: 1020px;
    margin-top: 120px;
    background-color: #ddd;
  }
  .Containt ul li .pic{ text-align:center; }
  .Containt ul li .pic img{ width:272px; height:180px; display:block;  padding:2px; border:1px solid #ccc; }
	.Containt ul li .pic a:hover img{ border-color:#999;  }
	.Containt ul li .title{ line-height:24px; text-align: left; font-size: 14px; font-family: "微软雅黑"; text-indent: 5px;}
  .Containt ul li .title p {color:#bf283e;}